*{
    margin:0;
    padding:0;

}
body{
    height:100%;

}
.input_container{
    position:absolute;
    width:50%;
    top:25%;
    left:10%;
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;


}
.input{
    width:100%;
    padding:10px;
    margin:10;
    font-size: 25px;
    border:none;
    border-radius: 10px;
}
.addButton{
    width:10%;
    padding:10px;
    margin:10;
    border:none;
    border-radius: 10px;

}
#main{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTJ-YTdj7Ve1SYAPv45qupdq9o-wbhVMhgEQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size:cover;
}
.data_container{
    position:absolute;
    top:30%;
    left:10%;
    width:43%;
    padding-top:30px;
}
.item{
 display:flex;
 flex-direction:row;
}
.item_input{
    width:100%;
    margin:10px;
    padding:10px;
    border: none;
    border-radius:10px;
    font-size: 25px;
}
.editbutton, .removebutton{
    width:10%;
    margin:10px;
    padding:10px;
    border:none;
    border-radius:10px;

}

